/* Styles to load */
.gridsquare {
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    background-color: beige;
}
#container {
    background-color: red;
    border: 2px solid;
    display: flex;
    height: 960px;
    width: 960px;
}
